numpy==1.26.4
pandas==1.5.2
torch==2.6.0
sentence-transformers==3.4.1
transformers==4.48.3
seaborn==0.13.2
tqdm==4.66.3
bertopic==0.9.4
umap-learn==0.5.7
hdbscan==0.8.40
scikit-learn==0.24.2
scipy==1.12.0
nltk==3.9.1
octis==1.10.2